@model NgoThanhTien_2001200542_WebKFC.Models.tbl_MonAn
@{
    ViewBag.Title = "UpdateMonAn";
    Layout = "~/Views/Shared/_LayoutPage2.cshtml";
}

<div class="container-fluid">
    <h2>Thông tin sản phẩm</h2>
    @if (ViewBag.success != null)
    {
        @ViewBag.success
    }
    @using (Html.BeginForm("UpdateMonAn", "NhanVien", FormMethod.Post, new { @enctype = "multipart/form-data" }))
    {
        @Html.AntiForgeryToken()
        @Html.ValidationSummary(true)
<div class="container">
    <div class="form-horizontal">
        <hr />
        @Html.ValidationSummary(true, "", new { @class = "text-danger" })
        <div class="form-group">
            <label>Mã món ăn</label>
            <div class="col-md-10">
               <div>@Model.id</div>
            </div>
        </div>
        <div class="form-group">
            <label>Tên món ăn</label>
            <div class="col-md-10">
                @Html.EditorFor(model => model.Name, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.Name, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            <label>Mô tả</label>
            <div class="col-md-10">
                @Html.EditorFor(model => model.Description, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.Description, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            <label>Giá bán</label>
            <div class="col-md-10">
                @Html.EditorFor(model => model.Price, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.Price, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            <label>Hình ảnh</label>
            <div class="col-md-10">
                <input type="file" name="fileupload" />
                <img src="@Url.Content("~/Hinhanh/" + Model.Images)" width="30%" />(Ảnh hiện tại)
            </div>
        </div>

        <div class="form-group">
            <label>Đơn vị</label>
            <div class="col-md-10">
                @Html.EditorFor(model => model.DonViTinh, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.DonViTinh, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            <label>Loại</label>
            <div class="col-md-10">
                @Html.DropDownList("maLoai")
            </div>
        </div>

        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <input style="margin: 30px" type="submit" value="Cập nhật" class="btn btn-sm btn-success" />
            </div>
        </div>
    </div>
</div>

    }
</div>
<div>
    @Html.ActionLink("Back to List", "Index")
</div>

